*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

.menu-container{
    height:3rem ;
    
    background-color: rgb(238, 238, 238);
}

.menu-container >*{
    width: 10rem;
    height: 50%;
    text-align: center;
    /* padding-bottom: 0.3rem;
    padding-left: 0.3rem; */
    
}

.title{
    display: flex;
    width: 100%;
}
.title *{
    height: 100%;
    width: 5rem;
    font-family:'Courier New', Courier, monospace;
}
.New{
    width: 5rem;
}
.Home{
    background-color: #fff;
    height: 100%;
}
.font-family{
    margin-left: 1rem;
}
select{
    border: none;
}
select:focus{
    outline:none;
}

select:hover{
    background-color: #eee;
    cursor: pointer;

}
option[value]{
    font-family: value;
}

.alignment{
    display: flex;
    width: 100%;
    background-color: white;
}

.alignment>*{
    width: 7rem;
    margin-right: 1rem;
    border-right: 1px solid;
}
.biu-container{
    /* border: 1px solid; */
    /* border-radius: 5%; */
    display: flex;
    /* justify-content: space-evenly; */
    background-color: white;
    /* text-align: center; */
    
    /* color :rgb(106, 114, 122); */
    /* min-height: 1.8rem; */
}
.biu-container>*{
    margin-right: 1rem;
    height: inherit;
    font-size: x-small;
    width: 20px;

}
.biu-container>*:hover{
    background:lightgrey;
}
.fas.fa-bold{
    font-size: 18px;
    padding-top: 0.2rem;
}
.fas.fa-italic{
    font-size: 18px;
    padding-top: 0.2rem;
}
.fas.fa-underline{
    font-size: 18px;
    padding-top: 0.2rem;
}
.color{
    width: 8.5rem;
    gap: 2rem;
}

.color>*{
    /* margin-right: 2rem; */
    
}

.text-alignment{
    display: flex;
    background-color: white;
    width: 7rem;
}
.text-alignment>*{
    padding-top: 0.2rem;
    width: 1.5rem;
    text-align: center;
    margin-right: 1rem;
}
.text-alignment>*:hover{
    background-color: lightgray;
}
.color{
    display: flex;
    
}


.formula-container{
    height:2rem;
    display: flex;
    
    align-items: center;
    background-color: rgb(238, 238, 238)
}

.formula-container >*{
    height: 70%;
    margin-left: 1rem;
    margin-right: 3rem;
}

.address-input{
    width: 4rem;
}

.formula-input{
    width: calc(100vw - 20rem);
}

.color-container{
    width: 20rem;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.sheets-container{
    height: 2rem;
    background-color: lightgray;
    display: flex;
}

.grid-container{
    height: calc(100vh - (4rem + 2rem + 2rem));
    position: relative;
    overflow: auto;
}

.box{
    height: 1.2rem;
    width: 2rem;
    border: 1px solid lightgray;
    text-align: center;
    background-color: rgb(238, 238, 238)
}

.left-box{
    background-color: rgb(238, 238, 238)
}

.left-box>*{
    color: rgb(187, 200, 212);
}

.toprow{
    height: 1.2rem;
    background-color: rgb(238, 238, 238);
    display: flex;
    position: absolute;
    left: 2rem;
    top: 0rem;
}

.cbox{
    min-width: 4rem;
    min-height: 1.2rem;
    text-align: center;
    border: 1px solid lightgray;
    
}


.cbox:hover{
    cursor: cell;
}

.grid{
    
    position: absolute;
    top: 1.2rem;
    left: 2rem;
}

.row{
    display: flex;
}

.add-sheet_btn-container{
    width: 3rem;
   text-align: center;
   color: rgb(32, 226, 32);
   padding-top: 0.4rem;
   
   background-color:rgb(240, 238, 238);
}


.fas{
    font-size: large  ;
}

.sheet-list{
    /* border: 1px solid; */
    width: calc(100vw - (3rem));
    display: flex;
    height: 100%;
    overflow: auto;
    
}

.sheet-list::-webkit-scrollbar {
    display: none;
} 
  
  /* Hide scrollbar for IE, Edge and Firefox */
.sheet-list{
    -ms-overflow-style: none;  /* IE and Edge */
    /* scrollbar-width: none;  /*Firefox*/
}

.sheet{
    height: 100%;
    min-width: 5rem;
    border-right: 0.5px solid;
    border-radius: 8%;
     padding-left: 0.3rem; 
    padding-top: 0.2rem; 
}

.active{
    background-color: white;
}

.active-btn{
    color: rgb(238, 151, 151);
}

.nos-container{
    min-width: 25rem;
}

.nos-container>*{
    border:none;
}